# 빌드 결과 및 임시 파일
/dist
/build
*.js.map # TypeScript 소스 맵 파일

# 의존성 관련
/node_modules
/package-lock.json

# IDE 및 운영체제 관련
.vscode
Thumbs.db # Windows

# TypeScript 관련
*.tsbuildinfo


/example
/review 

